absl-py
asgiref
asttokens
astunparse
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
Django
dotenv
drjit
executing
flatbuffers
fonttools
gast
google-pasta
grpcio
h5py
idna
importlib_resources
iniconfig
ipydatawidgets
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
jedi
jupyter_client
jupyter_core
jupyterlab_widgets
keras
kiwisolver
ldpc
libclang
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mitsuba
ml_dtypes
namex
nest-asyncio
networkx
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvcc-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
opt_einsum
optree
packaging
pandas
parso
pexpect
pillow
platformdirs
pluggy
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
Pygments
PyMatching
pyparsing
pytest
python-dateutil
python-dotenv
pythreejs
pyzmq
requests
rich
scipy
seaborn
setuptools
sinter
sionna
sionna-rt
six
sqlparse
stack-data
stim
tensorboard
tensorboard-data-server
tensorflow
termcolor
tornado
tqdm
traitlets
traittypes
typing_extensions
urllib3
wcwidth
Werkzeug
wheel
whitenoise
widgetsnbextension
wrapt
